<div class="flex-container">
    <form>
        <h1>CONTACT</h1>
        <div class="row1">
            <mat-form-field appearance="fill" class="name">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" class="phone">
                <mat-label>Phone</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div >
            <mat-form-field appearance="fill" class="mail">
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div >
            <mat-form-field appearance="fill" class="text">
                <mat-label>Textarea</mat-label>
                <textarea matInput rows="6"></textarea>
            </mat-form-field>
        </div>
        <div class="button">
            <button mat-raised-button>SEND</button>
        </div>
    </form>
</div>