<footer>
    <div class="row">
        <div class="col-md-6 text-left left-container">
            <img src="https://library.kissclipart.com/20180829/pfe/kissclipart-hot-meal-icon-clipart-dish-meal-restaurant-e2a7ae54daef81da.png" alt="logo" >
            <p>Copyright © 2020 MealApp, Inc</p>
        </div>
        <div class="col-md-6 text-right right-container">
                <a href="#">Terms</a>
                <a href="#">Privacy Policy and Cookie Policy</a>
        </div>
    </div>
</footer>