<div class="header">
    <div class="inner-header">
        <div class="logo-container">
            <span>
                <a routerLink="/home" routerLinkActive="active"><img src="https://library.kissclipart.com/20180829/pfe/kissclipart-hot-meal-icon-clipart-dish-meal-restaurant-e2a7ae54daef81da.png" alt="logo" ></a>
            </span>
            <h1 class="logo-fonts">
                <a 
                routerLink="/home" 
                routerLinkActive="active 
                "style="color: black; text-decoration: none;">
                food<span>RECIPES</span>
                </a>
            </h1>
        </div>
            <ul class="navigation">
                <a routerLink="/home" routerLinkActive="active"><li>Home</li></a>
                <a routerLink="/meals" routerLinkActive="active"><li>Meals</li></a>
                <a routerLink="/category" routerLinkActive="active"><li>Category</li></a>
                <a routerLink="/contact" routerLinkActive="active"><li>Contact</li></a>
            </ul>   
    </div>
</div>