@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

.container {
  margin: 0 auto !important;
}

#customers {
    font-family: "Montserrat" , sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 7px 7px 5px rgb(94, 94, 94);
  }
  
#customers td, #customers th {
    border: .5px solid white;
    padding: 8px;
  }
  
#customers tr {
  /* background-color: rgb(246, 101, 37, .5); */
  background-color: transparent;
  color: black;
}
  
#customers tr:hover {background-color: rgba(221, 221, 221, 0.548);}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent;
    /* background-image: linear-gradient(to right, #f66525, #bd4333, #7e2b30, #401a21, #000000);     */
    /* background: rgb(160,154,242);
    background: linear-gradient(90deg, rgba(160,154,242,1) 0%, rgba(189,186,186,1) 84%, rgba(183,188,189,1) 100%); */
    color: black;
    font-weight: 900;
  }



h1 {
    color: black;
    font-family: "Montserrat" , sans-serif;
    font-size: 100px; 
    line-height: 160px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 0px !important; 
    text-align: center; 
    text-shadow: 0 5px 5px rgb(94, 94, 94);
    }

.trash {
  color: black;
  transition: all 0.7s ease 0s;
  font-size: 30px;
}

.trash:hover {
  color: black;
  transform: scale(1.2, 1.2);
  transition: all 0.7s ease 0s;
}

.pencil {
  color: black;
  transition: all 0.7s ease 0s;
  font-size: 30px;
}

.pencil:hover {
  transition: all 0.7s ease 0s;
  transform: scale(1.2, 1.2);
}


.pag /deep/ .ngx-pagination .current {
  background: black;
}

