    <div>
        <h1>FoodRecipeS</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus urna et pharetra pharetra massa massa ultricies mi. Orci dapibus ultrices in iaculis nunc sed augue lacus. Sed risus pretium quam vulputate dignissim suspendisse in est. A pellentesque sit amet porttitor eget. Tincidunt arcu non sodales neque sodales ut etiam sit amet. Tempor nec feugiat nisl pretium fusce id. Massa massa ultricies mi quis hendrerit dolor magna eget est.
            </p>
        </div>
        <div class="col-md-6">
            <img 
            src="https://www.themealdb.com/images/category/side.png" 
            alt="pic" 
            style="margin-left: 25%; margin-top: 60px; width: 350px; height: 250px;">
        </div>
    </div>
    <div class="col-md-12" style="text-align: center;">
        <p style="margin: 10px auto 80px auto;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempus urna et pharetra pharetra massa massa ultricies mi. Orci dapibus ultrices in iaculis nunc sed augue lacus. Sed risus pretium quam vulputate dignissim suspendisse in est. A pellentesque sit amet porttitor eget. Tincidunt arcu non sodales neque sodales ut etiam sit amet. Tempor nec feugiat nisl pretium fusce id. Massa massa ultricies mi quis hendrerit dolor magna eget est.
        </p>
    </div>
        

